//ACÁ LE ESTAMOS GENERANDO LA VARIABLE PARA QUE TODO LO COLOQUE CON COLORES SECUNDARIOS.
$secondary-color: #123788;

//EN ESTA LÍNEA DE CÓDIGO ESTAMOS IMPORTANDO LA DEPENDECIA DE MATERIALIZE.
@import "node_modules/materialize-css/sass/materialize.scss";

//ACÁ PEGAMOS TODO EL CSS QUE TENÍAMOS ANTES EN EL CÓDIGO.
body {
  background: #fafafa;
  color: #010542;
  font-family: Montserrat;
}

.phone {
  max-width: 100%;
}

.landing {
  margin: 30px auto;
}

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.login-box,
.signup-box {
  background: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}

.portafolio {
  font-family: "Oleo Script";
  font-size: 42px;
  color: $secondary-color !important;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb {
  background-color: #4090db;
  font-size: 0.7em;
}

.signup-form .btn.btn-fb:hover {
  background-color: #2d6599;
}

.signup-form .btn.btn-signup {
  background-color: #12e33b;
}

.header {
  background-color: rgb(14, 238, 171);
  color: $secondary-color;
  box-shadow: none;
  border-bottom: 1px solid #edeeee;
}

.timeline {
  padding: 30px 0;
}

$avatar-size: 48px;

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}

.card .username {
  color: $secondary-color;
}

.card small.time {
  line-height: $avatar-size;
}

.card p {
  padding: 20px 0;
}

.card .likes {
  line-height: 30px;
  margin-left: 12px;
}

.card i {
  font-size: 30px;
}

.card .far-fa-star {
  color: $secondary-color;
}

.card .fas-fa-star {
  color: #00838f;
  display: none;
}

//SASS NOS PERMITE CREAR SELECTORES PARA PODER COLOCARLOS UNOS DENTRO DE LOS OTROS
.card.liked {
 .far-fa-star {
   display: block;
  }
  .fas-fa-star {
    display: none;
  }
}

//no muestra los iconos uno encima del otro.